.calculator {
  background-color: #181818;
  color:$white;
  
  .calculator__wrap {
    padding-bottom: 10px;
    padding-top: 100px;
    position: relative;

    .calculator__title {
      @media (min-width: 1024px) {
        text-align: left;
        padding-left: 465px;
      }

      text-align: center;
      font-size: px-to-rem(32px);
      line-height: px-to-rem(37px);
      color: $primary;
      margin: 0 0 20px 0;
      font-weight: 700;
    }

    .calculator__img {
      @media (min-width: 1024px) {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(calc(-50% + 15px));
      }

      display: block;
      max-width: 100%;
      margin:24px auto 30px;
      height: auto;
    }

    .calculator__form {
      @media (min-width: 1024px) {
        padding-left: 215px;
        margin-left: 250px;
        padding-top: 5px;
        padding-bottom: 25px;
      }
    }
  }
}